// styles/variables.scss
$purple-color: rgb(122, 0, 245);
$light-green-color: rgb(239, 242, 225);
$light-gray-color: rgb(250, 249, 245);
$orange-color: rgb(245, 92, 54);

$yellow-select: rgb(255, 177, 20);
$pink-select: rgb(232, 160, 227);
$pink-select:rgb(5, 0, 148);

$black :rgb(0, 0, 0);
$white :rgb(255, 255, 255);


//Font size
$S1: 12px;